<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.le.samplecodecamp">

    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 测试前台应用 -->
        <service
            android:name=".eui.background.BackgroundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.le.samplecodecamp.backgraound" />
            </intent-filter>
        </service>

        <!-- 测试LogUtils写入文件 -->
        <activity android:name=".activity.LogFileActivity" />

        <!-- 查看domain日志文件 -->
        <activity android:name=".eui.domain.LogMonitorActivity" />
    </application>

</manifest>